<LanguageData>
	<PawnmorpherModName>Pawnmorpher</PawnmorpherModName>
	<enableFalloutCheckboxLabel>Enable Mutagenic Fallout</enableFalloutCheckboxLabel>
	<enableFalloutCheckboxTooltip>Toggles a special fallout event that can spawn and mutate exposed pawns.</enableFalloutCheckboxTooltip>
	<enableMutagenLeakCheckboxLabel>Enable Mutagenic Leaks</enableMutagenLeakCheckboxLabel>
	<enableMutagenLeakCheckboxTooltip>Toggles a special event where slurry pipes can explode and leak slurry.</enableMutagenLeakCheckboxTooltip>
	<enableMutagenCheckboxLabel>Enable Mutagenic Ship Parts</enableMutagenCheckboxLabel>
	<enableMutagenCheckboxTooltip>Toggles a new ship part type that mutates pawns in an expanding radius.</enableMutagenCheckboxTooltip>
	<enableMutagenDiseasesCheckboxLabel>Enable Mutagenic Diseases</enableMutagenDiseasesCheckboxLabel>
	<enableMutagenDiseasesCheckboxTooltip>Toggles mutagenic disease events that will morph pawns (requires restart).</enableMutagenDiseasesCheckboxTooltip>
	<enableMutagenMeteorCheckboxLabel>Enable Mutagenic Meteorite Mutation Radius</enableMutagenMeteorCheckboxLabel>
	<enableMutagenMeteorCheckboxTooltip>Toggles the ability of mutonite meteors to mutate nearby pawns.</enableMutagenMeteorCheckboxTooltip>
	<enableWildFormersCheckboxLabel>Enable Wild Former Humans</enableWildFormersCheckboxLabel>
	<enableWildFormersCheckboxTooltip>Toggles animals spawning onto the map as former humans, allowing them to be reverted.</enableWildFormersCheckboxTooltip>
	<PMHazardousChaobulbs>Enable Hazardous Chaobulbs</PMHazardousChaobulbs>
	<PMHazardousChaobulbsTooltip>If failed, chaobulb harvests can give mutagenic buildup.</PMHazardousChaobulbsTooltip>
	<transformChanceSliderLabel>Chance for mutagens to fully transform pawns</transformChanceSliderLabel>
	<formerChanceSliderLabel>Chance for animals to spawn as former humans</formerChanceSliderLabel>
	<partialChanceSliderLabel>Chance for morph eggs/milk to trigger a complete transformation instead of a single mutation</partialChanceSliderLabel>
	<maxMutationThoughtsSliderLabel>How many mutation related thoughts will show up at once</maxMutationThoughtsSliderLabel>
	<friendlyManhunterTfChance>Chance for friendly pawns to go manhunter when transformed</friendlyManhunterTfChance>
	<manhunterTfChance>Chance for pawns to go manhunter when transformed</manhunterTfChance>
	<PMInjectorsRequireTagging>Injectors Require Tagging</PMInjectorsRequireTagging>
	<PMInjectorsRequireTaggingTooltip>If true, tagging animals is required to make injectors.</PMInjectorsRequireTaggingTooltip>
	<PMEnableMutationVisualsButton>Show mutations on races.</PMEnableMutationVisualsButton>
	<PMEnableMutationVisualsHeader>Enable mutations visuals for races.</PMEnableMutationVisualsHeader>
	<PMEnableMutationVisualsText>Selected races will be patched to show mutations as if they were human, and depending on the race aesthetic results may vary.</PMEnableMutationVisualsText>
	<PMRequiresRestart>Requires a game restart to take affect.</PMRequiresRestart>
	<PMRaceReplacementButton>Set morph replacements.</PMRaceReplacementButton>
	<PMRaceReplacementHeader>Set morph replacements for morphs.</PMRaceReplacementHeader>
	<PMRaceReplacementText>Here you can replace morphs with races from other installed HAR mods.\nThis may not work with all races, use with caution and test before using in a save.</PMRaceReplacementText>
	<PMRaceReplacementLocked>Locked by patch.</PMRaceReplacementLocked>
	<PMOptionalPatchesButton>Toggle optional patches.</PMOptionalPatchesButton>
	<PMOptionalPatchesHeader>Toggle optional patches.</PMOptionalPatchesHeader>
	<PMOptionalPatchesText>Enable or disable patches that are not strictly necessary for the mod to function.\nHover over a patch to see description.</PMOptionalPatchesText>
	<PMFailedToParse>Failed to parse.</PMFailedToParse>
	<PMAnimalAssociationsButton>Associate animals.</PMAnimalAssociationsButton>
	<PMAnimalAssociationsHeader>Associate animals.</PMAnimalAssociationsHeader>
	<PMAnimalAssociationsText>Associate additional animals with morphs that will act as both additional outcomes, source of sequencing morph mutations and unlocking the injector.</PMAnimalAssociationsText>
	<PMBlacklistFormerHumansButton>Former human animals</PMBlacklistFormerHumansButton>
	<PMBlacklistFormerHumansHeader>Can be former humans</PMBlacklistFormerHumansHeader>
	<PMBlacklistFormerHumansText>Enable or disable individual animals from being selectable by the game for completely transformation.\nOnly animals not associated with a morph type can be disabled.</PMBlacklistFormerHumansText>
</LanguageData>
